; Here you can put custom php.ini settings that are distributed to all servers

memory_limit = {{php_memory}}

short_open_tag = On

upload_max_filesize = {{php_upload}}
post_max_size = {{php_upload}}

