; Here you can put custom php.ini settings that are distributed to all servers

; Memory limit is also set in Magento .htaccess
memory_limit = 256M

short_open_tag = On

upload_max_filesize = 50M
post_max_size = 50M

